header {
    display: flex;
    padding: 10px 40px;
    background-color: #5be3b2;

    .header-logo {
        height: 40px;
        border-radius: 50%;   
    }

    .header-title {
        font-size: 2em;
        color: black;
        margin-left: 10px;
    }
}

